<plist version="1.0">
<dict>
    <key>DisplayName</key>
    <string>Personal Container</string>
    <key>ImagePath</key>
    <string>PersCon.icns</string>
    <key>Entities</key>
    <dict>
        <key>com.apple.contacts.Contact</key>
        <array>
            <string>com.apple.syncservices.RecordEntityName</string>
            <string>first name</string>
            <string>middle name</string>
            <string>last name</string>
            <string>company name</string>
        </array>
    </dict>
</dict>
</plist>
