<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Personal Container Location</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{google_maps_appid}}&amp;sensor=true_or_false"
            type="text/javascript"></script>

    <script type="text/javascript">
        function toHex(i) {
          var x = i.toString(16);
          if (x.length < 2) return "0"+x; else return x;
        }
		function initialize() {
		  var map = new GMap2(document.getElementById("map_canvas"));
		  map.setUIToDefault();
		  map.setCenter(new GLatLng({{centerx}}, {{centery}}), 13);
          var points = [ {{points}} ];
          var r=0,g=0;
          
          var cols = points.map(function (x) {
            if (r<255) r=r+1;
            if (g<1020) g=g+1;
            return "#"+toHex(r)+""+toHex(parseInt(g/4))+"00";
            });
          for (var i = 1; i < cols.length ; i++) {
              var tup = [ points[i-1], points[i] ];
              var polyline = new GPolyline(tup, cols[i], 5);
              map.addOverlay(polyline);
           }
		}
    </script>
  </head>
  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 750px; height: 600px"></div>
  </body>
</html>                                                                                                                                                                                                                                                                                             
